@font-face {
  font-family: "iconfont"; /* Project id 2317951 */
  src: url('iconfont.woff2?t=1645021482481') format('woff2'),
       url('iconfont.woff?t=1645021482481') format('woff'),
       url('iconfont.ttf?t=1645021482481') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjiantou:before {
  content: "\e7a7";
}

.iconsmiling:before {
  content: "\e63f";
}

.iconlaba:before {
  content: "\e6ec";
}

.icontupian:before {
  content: "\e60b";
}

.iconicon-test:before {
  content: "\e61b";
}

.icontupian1:before {
  content: "\e629";
}

.iconcuxiao:before {
  content: "\e603";
}

.iconsanjiaodown:before {
  content: "\e6b5";
}

.iconfanhui:before {
  content: "\e624";
}

.iconsousuo:before {
  content: "\e632";
}

