@import url("./test.css");
@import "../font/iconfont.css";

.container{
	color:#12345678;
	font-weight: bold;
	font-size: 36px;
}

.bg-image{
	background: url("../img/test2.jpg") no-repeat center;
}

.icon-demo{
	font-size: 50px;
	color: #0086B3;
}

